body {
/* width: 60%;
	margin-top:10%;
    margin: 50px auto;
    max-width: 1000px; */
/* 	line-height:1.7em; */
/* 	font-size:13px; */
  line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
  font-family: "futura-pt";
}
 

  
}
.heading {
font-family: "bookmania";
font-size: calc(1.5em + 2vw + 2vh);
	line-height: 1em;
	text-align: center;

}

/* h4 a {
 font-family: futura-pt;
 font-size:2.25rem;
 text-decoration: none;
 font-weight: 700;

}

h4 a:hover{
 
  color:mistyrose;
 } */

.pure-button {
	background-color:salmon;
	color:#fff;
	 font-family: futura-pt;
	    font-weight:700;
	font-size:2rem;
	margin: 0.5rem;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

    .button a{
	    text-align: center;
	    float:left;
	background-color:salmon;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	    font-family: futura-pt;
	    font-weight:700;
	font-size:2rem;
	padding:16px 31px;
	text-decoration:none;
	    margin: 0.5rem;
}
.button a:hover {
	background-color:lightsalmon;
}
.button a:active {
	position:relative;
	top:1px;
}

.w {
margin: 0 auto;	
	width: 100%;
	text-align: center;
}

.site {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.footer{
font-family: futura-pt;	
/* 	text-align: center; */
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }


    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


   
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

