body {
width: 80%;
    margin: 50px auto;
    max-width: 1000px;
 font-family: futura;

  
}
h3 {
font-family: bookmania;
font-size:3rem;
}

h4 a {
 font-family: futura-pt;
 font-size:2.5rem;
 text-decoration: none;
 font-weight: 700;
 color: salmon;
}

h4 a:hover{
 {
  color:mistyrose;
 }
