body {
 margin-left: 10%;
 margin-top:5%;
width: 80%;
 font-family: futura;
 font-size:0.75rem;
  
}
h3 {
font-family: bookmania;
font-size:3rem;
}

h4 a {
 font-family: futura-pt;
 font-size:2.5rem;
 text-decoration: none;
 font-weight: 500;
 color: salmon;
}
